.navbar-brand {
    position: relative;
}

.navbar-brand::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -1px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.navbar-brand:hover::after {
    width: 100%;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -1px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}